body {
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  font-family: "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 18px;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 100px;

  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.container div {
  padding: 10px;
  border: 1px solid black;
}
.header {
  grid-column: 1 / 4;
  color: rgb(51, 145, 223);
  background-color: rgb(240, 208, 167);
}
.content-large {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 100px;
  background-color: white;
}
.wrapperFunction {
  background-color: cornflowerblue;
}
.footer {
  grid-column: 1 / span 3;
  background-color: rgb(240, 208, 167);
}
#searchBar {
  grid-column: 1 / 2;
}
.input-from-date {
  grid-column: 2 / 3;
}
.input-to-date {
  grid-column: 3 / 4;
}
#search {
  grid-column: 4 / 5;
}
.output-box {
  grid-row: 2 / 4;
  grid-column: 1 / 5;
}
.content-small {
  grid-column: 2 / 4;
  background-color: rgb(51, 145, 223);
}
/* @media (max-device-width: 700px) {
  .content-small {
    display: none;
  }
} */
